{% if isfirstLogin == true %}
    Bonjour,<br><br>
    Votre compte sur la nouvelle plateforme de commande en ligne vient d'être activé.<br><br>
    Veuillez paramétrer votre mot de passe en cliquant sur le lien ci-dessous : <br>
    <a href="{{ link }}?isfirstLogin=true">Paramétrer mon mot de passe</a><br><br>
    Voici votre identifiant : {{ identifiant }}<br><br>
    Le site est disponible à l’adresse suivante : beta.commande.com<br><br>
    Si vous ne parvenez pas à vous connecter, veuillez contacter votre conseiller commercial.<br><br>
{% else %}
    Bonjour {{ username|capitalize }} !<br><br>

    Pour réinitialiser votre mot de passe, merci de vous rendre sur
    <a href="{{ confirmationLink }}">{{ confirmationLink }}</a><br><br>
{% endif %}
Cordialement,<br>
L'équipe commande.com<br><br>

{% if isfirstLogin == true %}<i>Cet email est généré automatiquement, merci de ne pas y répondre</i>{% endif %}